@import "../../../../../app/styles/padroes/sass/padroes.module.scss";

.aboutMe {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 2rem;
    .texts {
        display: flex;
        flex-direction: row;
        gap: $gap01;
        align-items: center;
        color: $pure-white;
        .title {
            font-size: $fontSize8;
            font-weight: $fontWeight7;
            line-height: 2.25rem;
        }
    }
    
    .sectionsAbout {
        display: flex;
        flex-direction: column;
        .dataAbout {
            display: flex;
            flex-direction: column;
            gap: $gap1;
            padding: 2rem;
            background-color: $backgroundColor1;
            border-radius: 1rem;
            margin-bottom: 1rem;
            .subtitle {
                color: $purple1;
                font-size: $fontSize6;
                font-weight: $fontWeight6;
                line-height: 2rem;
            }
            .textAbout {
                line-height: 1.625;
                font-size: $fontSize2;
                font-weight: $fontWeight4;
                color: $pure-white;
            }

            .experienceObject {
                display: flex;
                flex-direction: column;
                gap: $gap2;

                .sectionaboutExperience {
                    display: flex;
                    flex-direction: row;
                    gap: $gap001;

                    .textsDesciption {
                        color: $pure-white;
                        .titleh4 {
                            font-weight: $fontWeight7;
                            font-size: $fontSize2;
                        }

                        .description {
                            font-size: $fontSize1-1;
                        }
                    }
                }
            }

            .habilities {
                display: flex;
                flex-direction: row;
                gap: $gap01;
                .btnHabilities {
                    padding: .5rem;
                    border: $border1;
                    background-color: $backgroundColor2;
                    border-radius: 2rem;
                    width: 6rem;
                    text-align: center;
                    align-items: center;
                    color: $pure-white;
                    font-size: $fontSize2;

                    &:hover {
                        background-color: $purple2;
                        border: 1px solid $pure-white;
                        font-weight: $fontWeight5;
                    }
                }
            }

        }
    }
}