@import "../../../../../app/styles/padroes/sass/padroes.module.scss";


.headerMobile {
  background: $backgroundColor1;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;

  .title {
    line-height: 2rem;
    font-size: $fontSize6;
    font-weight: $fontWeight7;
    color: $purple1;
  }

  .btn {
    background: transparent;
    border: none;
  }
}

// .sideMenu {
//   background-color: $pure-white;
//   position: absolute;
//   z-index: 2;

//   width: 100%;
//   .menu {

//   }
// }