@import "../../../../../app/styles/padroes/sass/padroes.module.scss";

.headerDesk {
    background-color: $backgroundColor1;
    position: fixed;
    top: 0;
    fill-opacity: 1;
    width: 100%;

 .redirection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.5rem;

    

    .title {
        color: $purple1;
        font-weight: $fontWeight7;
        font-size: $fontSize6;
    }


    .redirectionLinks {
        display: flex;
        flex-direction: row;
        gap: $gap2;
        align-items: center;

        .links {
            color: $pure-white;
            text-decoration: none;
            cursor: pointer;
            font-size: 100%;
        }
    }
 }

}