$pure-white: #fff;
$pure-black: #000;
$gray: #D9D9D9;
$graytwo: #EBE2E2;

$color1: #1B1A1D;



$fontSize1: 0.625rem;
$fontSize2: 0.875rem;
$fontSize3: 1rem;
$fontSize4: 1.125rem;
$fontSize5: 1.25rem;
$fontSize6: 1.563rem;
$fontSize7: 1.75rem;
$fontSize7: 1.875rem;
$fontSize8: 2rem;