$pure-white: #fff;
$pure-black: #000;
$gray: #D9D9D9;
$graytwo: #EBE2E2;
$purple1: #8c52ff;
$purple2: #a855f733;

$color1: #1B1A1D;



$fontSize1: 0.625rem;
$fontSize2: 0.875rem;
$fontSize3: 1rem;
$fontSize4: 1.125rem;
$fontSize5: 1.25rem;
$fontSize6: 1.5rem;
$fontSize7: 1.75rem;
$fontSize8: 1.875rem;
$fontSize9: 2rem;
$fontSize10: 6rem;



$backgroundColor1: #00000080;
$backgroundColor2: #a855f71a;

$gap01: 0.5rem;
$gap001: 0.75rem;
$gap1: 1rem;
$gap1-5: 1.5rem;
$gap2: 2rem;
$gap3: 3rem;
$gap4: 4rem;
$gap4: 5rem;
$gap6: 6rem;


$fontWeight1: 100;
$fontWeight2: 200;
$fontWeight3: 300;
$fontWeight4: 400;
$fontWeight5: 500;
$fontWeight6: 600;
$fontWeight7: 700;
$fontWeight8: 800;

$border1: 1px solid $purple2;

